<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = device-width, height = device-height">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/sitemenu.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/holidays.css">
</head>
<body>
{{ partial "sitemenu.html" . }}
{{ range .Pages.GroupByDate "2006"}}
    <p>{{ .Key }}</p>
    <ul>
        {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
{{end}}
</body>
</html>
