body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #303030;
}

p {
    line-height: 1.25em;
    margin-block-start: 0;
}

h1 {
    color: purple;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 0;
}

li {
    list-style-type: none;
    line-height: 2em;
}

a {
    text-decoration: none;
}

a:link {
    color: dodgerblue;
}

a:visited {
    color: dodgerblue;
}
